<div class="container">
  <div class="div-text-h4">
    <h4>Movies List</h4>
  </div>

  <div class="content div-input-search" role="main">
    <div class="form-group">
      <input type="text" class="form-control" id="search-movie" aria-describedby="search-movie"
        [(ngModel)]="SearchMovie" placeholder="Enter movie search" autofocus>
    </div>
  </div>

  <div class="div-table container-table">
    <table class="table table-striped">
      <thead class="table-info">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th style="width:20%">Release Date</th>
          <th scope="col">Overview</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies | filtermovie: SearchMovie">
          <td>{{movie.id}}</td>
          <td>{{movie.title}}</td>
          <td style="width:10%">{{moment(movie.release_date, 'YYYY-MM-DD').format('DD/MM/YYYY')}}</td>
          <td style="width:40%">{{movie.overview}}</td>

          <td class="text-center edit-block">
            <span [routerLink]="['/movies/', movie.id]">
              <button type="button" class="btn btn-info btn-sm button-detail-movie">Details Movie</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>