<div class="row justify-content-center">
    <div class="col-md-4 register-employee card-edit">

        <div class="card card-outline-secondary">
            <div class="card-header align-text">
                <h3 class="mb-0">Detail Movie</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="detailsForm">

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input class="form-control" type="text" formControlName="title" disabled>
                    </div>

                    <div class="form-group">
                        <label for="original_language">Original Language</label>
                        <input class="form-control" type="text" formControlName="original_language" disabled>
                    </div>

                    <div class="form-group">
                        <label for="release_date">Release Date</label>
                        <input class="form-control" type="text" formControlName="release_date" disabled>
                    </div>

                    <div class="form-group">
                        <label for="overview">OverView</label>
                        <textarea class="form-control" formControlName="overview" rows="7" disabled></textarea>
                    </div>

                    <div class="form-group div-button-detail">
                        <button class="btn btn-danger botao-voltar" (click)="voltarListagem()">Voltar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>